<!--Document Template information:
Prepared:***
Approved:***
Document Name:characteristic-test-report
Document Number:
-->
# Characteristic Test Report

Tests from the Microservice CI Pipeline shall be reported here.
The times reported are in the format `HOURS:MINUTES:SECONDS:MILLISECONDS`

> NOTE: The recording precision does not go down to the millisecond. It is present
only because it makes the time taken easier to read.

## Startup Test

Time taken for the service to be "ready".

Startup Time: ```PLACEHOLDER```

## Restart Test

Time taken for the service to be "ready" after the pod has been restarted.

Restart Time: ```PLACEHOLDER```