model_version: 2.0
# find more info here: https://gerrit-gamma.gic.ericsson.se/plugins/gitiles/adp-cicd/bob-adp-release-auto/+/master/vulnerability_analysis_2.0/
product_va_config:
    name: 5G PM Event file transfer and processing microservice
    product_name: eric-oss-5gpmevt-filetx-proc
    version: {version}
    spoc: EBHTNKT (Ankita Bhatt, PO), EMEACOD (Meabh Cody, Quaranteam Security Master)
    va_template_version: 2.0.0
    description: 5G PM Event file transfer and processing microservice
    images:
        - /eric-oss-5gpmevt-filetx-proc:{version}
    # List of issue trackers used for citing Trouble Reports at the migitations
    # (see below).
    issue_trackers:
    # The `default` key is looked up if no hint provided on what tracker
    # should be used.  This is not added automatically, one has to provide
    # this explicitly.
        default: "https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/"
    mitigations:
        SeccompAnnotationMissing-Deployment-eric-oss-5gpmevt-filetx-proc:
            TR:
            - IDUN-25044
            evaluation:
                status: FP
                rationale: >
                    The seccomp annotation is an old way have having
                    seccomp functionality. The preferred way is to use the
                    kubernetes API approach which is implemented in the
                    service. The annotation is deprecated now so this is a FP.
            mitigation: None, this is a false positive
            sce:
                sce-id: SCE-2022-1901
                status: APPROVED
                expires: 2022-12-15

        AppArmorAnnotationMissing-Deployment-eric-oss-5gpmevt-filetx-proc:
            TR:
            - IDUN-27360
            evaluation:
                status: UT
                rationale: >
                    Keeping this on by default was causing failures on an AWS
                    environment where the underlying OS did not support App
                    Armor. The logic to include it is still present, just not
                    turned on by default.
            mitigation: >
                This is now an optional configuration that can be used if the
                underlying OS on the nodes support it.
            sce:
                sce-id: SCE-2022-1901
                status: APPROVED
                expires: 2022-12-15

        CVE-2021-3521:
            TR:
            - IDUN-41516
            evaluation:
                status: UT
                rationale: >
                    The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
            mitigation: >
                    Create ticket to track and await response from CBOS team on planned fix.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2023-39410:
            TR:
                - IDUN-95127
            evaluation:
                status: FP
                rationale: >
                    The impacted 3PP is Avro which we don't use as we are using protobuf.
            mitigation: >
                No mitigation required as we don't use Avro in our service.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2023-2976:
            TR:
                - IDUN-111315
            evaluation:
                status: UT
                rationale: >
                    Kafka protobuf serializer uses guava 30.1.1 which is an affected version
            mitigation: >
                Uplift kafka protobuf serializer
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2023-3635:
            TR:
                - IDUN-86358
            evaluation:
                status: UT
                rationale: >
                    The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
            mitigation: >
                Create ticket to track and await response from CBOS team on planned fix.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2023-52425:
            TR:
                - IDUN-111320
            evaluation:
                status: UT
                rationale: >
                    The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
            mitigation: >
                Create ticket to track and await response from CBOS team on planned fix.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2024-25062:
            TR:
                - IDUN-111321
            evaluation:
                status: UT
                rationale: >
                    The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
            mitigation: >
                Create ticket to track and await response from CBOS team on planned fix.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2013-4235:
            TR:
                - IDUN-41516
            evaluation:
                status: UT
                rationale: >
                    The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
            mitigation: >
                Create ticket to track and await response from CBOS team on planned fix.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2019-13225:
            TR:
                - IDUN-111324
            evaluation:
                status: UT
                rationale: >
                    The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
            mitigation: >
                Create ticket to track and await response from CBOS team on planned fix.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2020-19185:
            TR:
                - IDUN-111327
            evaluation:
                status: UT
                rationale: >
                    The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
            mitigation: >
                Create ticket to track and await response from CBOS team on planned fix.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2020-19186:
            TR:
                - IDUN-111328
            evaluation:
                status: UT
                rationale: >
                    The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
            mitigation: >
                Create ticket to track and await response from CBOS team on planned fix.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2020-19187:
            TR:
                - IDUN-111329
            evaluation:
                status: UT
                rationale: >
                    The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
            mitigation: >
                Create ticket to track and await response from CBOS team on planned fix.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2020-19188:
            TR:
                - IDUN-111330
            evaluation:
                status: UT
                rationale: >
                    The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
            mitigation: >
                Create ticket to track and await response from CBOS team on planned fix.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2020-19189:
            TR:
                - IDUN-111332
            evaluation:
                status: UT
                rationale: >
                    The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
            mitigation: >
                Create ticket to track and await response from CBOS team on planned fix.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2020-19190:
            TR:
                - IDUN-111333
            evaluation:
                status: UT
                rationale: >
                    The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
            mitigation: >
                Create ticket to track and await response from CBOS team on planned fix.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2023-3603:
            TR:
                - IDUN-111334
            evaluation:
                status: NA
                rationale: >
                    Exploitable code not in any released versions
            mitigation: >
                Not vulnerable to this CVE as 'Given this code is not in any released versions, no security releases have been issued.'
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2023-52426:
            TR:
                - IDUN-111338
            evaluation:
                status: UT
                rationale: >
                    The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
            mitigation: >
                Create ticket to track and await response from CBOS team on planned fix.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2024-0232:
            TR:
                - IDUN-111339
            evaluation:
                status: UT
                rationale: >
                    The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
            mitigation: >
                Create ticket to track and await response from CBOS team on planned fix.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2024-0727:
            TR:
                - IDUN-111341
            evaluation:
                status: UT
                rationale: >
                    The CBOS team is awaiting a fix from SUSE and do not have a planned fix date yet.
            mitigation: >
                Create ticket to track and await response from CBOS team on planned fix.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A
        CVE-2020-8908:
            TR:
                - IDUN-111344
            evaluation:
                status: UT
                rationale: >
                    Kafka protobuf serializer uses guava 30.1.1 which is an affected version.
            mitigation: >
                Uplift kafka protobuf serializer.
            sce:
                sce-id: N/A
                status: N/A
                expires: N/A